{% extends 'base.html' %}

{% block body %}
<div class="about-container">
    <div class="about-item">
        <h2><span>Welcome! <img class="icon_p" src="{{ url_for('static', filename='images/icon_p.png') }}"></span></h2>
        <p><span>私たちは、</span><span>あなたが来ることを</span><span>楽しみに</span><span>待っていました。</span></p>
        <p><span>さあ、Teal の</span><span>世界に飛び込もう！</span></p>
        <a href="/signup" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            はじめる
        </a>
        <br>
        <a href="/signin">ログインはこちらから</a>
    </div>
    <a class="links" target="_blank" href="https://icons8.com/icon/7kniG694XSWX/partying-face">icon by Icons8</a>
</div>
{% endblock %}