{% extends 'base.html' %}

{% block body %}
<div id="loading"></div>

<div class="page-content">

    <div class="tweet-item postTools shadow">
        <form id="Box" action="/home" method="POST" enctype="multipart/form-data">
            <p id="textCount"></p>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea name="postTweet" class="mdl-textfield__input" rows="3" type="text"
                    onkeyup="ShowLength(value)"></textarea>
                <label class="mdl-textfield__label" for="sample5">今日もお疲れ様です。</label>
            </div>
            <div class="btn-cover">
                <button id="tweetPush" type="submit"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    おくる
                </button>
            </div>
        </form>
    </div>

    {% for tweet, postUserList, replyPostUserList in l %}
    <div class="tweet-item tweetBoxes shadow">
        <a href="/{{ tweet.postUser }}/{{ tweet.postTweetHex }}">
            <table>
                <td>
                    <a href="/{{ tweet.postUser }}">
                        <img class="user-icon" src="https://1.gravatar.com/avatar/{{ postUserList }}?s=4000">
                    </a>
                </td>
                <td class="td">
                    <div class="postData">
                        <p class="user-name">{{ tweet.postUser }}</p>
                        <p>{{ tweet.timeH }}:{{ tweet.timeM }}</p>
                    </div>
                    <p>{{ tweet.postTweet | replace('__newLine__', '<br>') | safe}}</p>
                </td>
            </table>
        </a>
        {% if tweet.replyTweet != None %}
        <a
            href="/{{ tweet.replyUser }}/{{ tweet.replyTweetHex }}">
            <div class="replyTweet">
                <table>
                    <td>
                        <a href="/{{ tweet.replyUser }}">
                            <img class="user-icon"
                                src="https://1.gravatar.com/avatar/{{ replyPostUserList }}?s=4000">
                        </a>
                    </td>
                    <td class="td">
                        <div class="postData">
                            <p class="user-name">{{ tweet.replyUser }}</p>
                        </div>
                        <p>{{ tweet.replyTweet | replace('__newLine__', '<br>') | safe}}</p>
                    </td>
                </table>
            </div>
        </a>
        {% endif %}
    </div>
    {% endfor %}

    <button id="show-dialog" type="button"
        class="fixed_btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </button>


    <dialog class="mdl-dialog">
        <form id="mbBox" action="/home" method="POST" enctype="multipart/form-data">
            <p id="textCount-mb"></p>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea name="postTweet" class="mdl-textfield__input" type="text" rows="5"
                    onkeyup="ShowLengthMB(value)"></textarea>
                <label class="mdl-textfield__label" for="sample5">今日もお疲れ様です。 </label>
            </div>
            <div class="btn-cover">
                <div>
                    <table>
                        <td>
                            <button type="button" class="mdl-button mdl-js-button mdl-button--raised close">
                                とじる
                            </button>
                        </td>
                        <td>
                            <button id="tweetPush-mb" type="submit"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                おくる
                            </button>
                        </td>
                    </table>
                </div>  
            </div>
        </form>
    </dialog>


</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
