{% extends 'base.html' %}

{% block body %}
<div id="loading"></div>
<div class="page-content">
    <div class="tweet-item postTools shadow">
        <form id="Box" action="/home" method="POST" enctype="multipart/form-data">
            <p id="textCount"></p>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea name="postTweet" class="mdl-textfield__input" rows="3" type="text"
                    onkeyup="ShowLength(value)"></textarea>
                <label class="mdl-textfield__label" for="sample5">いま何してる？</label>
            </div>
            <div class="btn-cover">
                <label for="file_upload">
                    <span class="material-symbols-rounded">imagesmode</span>
                    <input type="file" id="file_upload" accept="image/jpeg" style="display:none;"
                        onchange="imgPreView(event)" name="imgUrl">
                </label>

                <button onclick="onButton()" id="tweetPush" type="submit"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    投稿
                </button>
            </div>
            <div id="preview"></div>
        </form>
    </div>

    {% for tweet in tweets %}
    <div class="tweet-item tweetBoxes shadow">
        <a href="/home/{{ tweet.postUser }}/{{ tweet.postTweet }}/{{ tweet.postTweetHex }}/{{ tweet.imgUrl }}">
        <table>
            <td>
                <img class="user-icon" src="https://object.gamma410.win/teal/users/{{tweet.postUser}}.jpg">
            </td>
            <td>
                <p class="user-name">{{ tweet.postUser }}</p>
                <p>{{ tweet.postTweet | replace('\n', '<br>') | safe}}</p>
                {% if tweet.imgUrl != None %}
                <img class="tweet-item-img" src="https://object.gamma410.win/teal/picture/{{tweet.imgUrl}}">
                {% endif %}
            </td>
        </table>
        </a>
        {% if tweet.replyTweet != None %}
        <a href="/home/{{ tweet.replyUser }}/{{ tweet.replyTweet }}/{{ tweet.replyTweetHex }}/{{ tweet.replyUrl | replace(Null, 'None') }}">
        <div class="replyTweet">
            <table>
                <td>
                    <img class="user-icon" src="https://object.gamma410.win/teal/users/{{tweet.postUser}}.jpg">
                </td>
                <td>
                    <p class="user-name">{{ tweet.replyUser }}</p>
                    <p>{{ tweet.replyTweet | replace('\n', '<br>') | safe}}</p>
                    {% if tweet.replyImgUrl != None %}
                    <img class="tweet-item-img" src="https://object.gamma410.win/teal/picture/{{ tweet.replyImgUrl }}">
                    {% endif %}
                </td>
            </table>
        </div>
        </a>
        {% endif %}
    </div>
    {% endfor %}

    <button id="show-dialog" type="button"
        class="fixed_btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </button>

    <dialog class="mdl-dialog">
        <form id="mbBox" action="/home" method="POST" enctype="multipart/form-data">
            <p id="textCount-mb"></p>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea name="postTweet" class="mdl-textfield__input" type="text" rows="5"
                    onkeyup="ShowLengthMB(value)"></textarea>
                <label class="mdl-textfield__label" for="sample5">いま何してる？</label>
            </div>
            <div class="btn-cover">
                <label for="file_uploads">
                    <span class="material-symbols-rounded">imagesmode</span>
                    <input type="file" id="file_uploads" accept="image/jpeg" style="display:none;"
                        onchange="imgPreViewMB(event)" name="imgUrl">
                </label>

                <button onclick="onButtonMB()" id="tweetPush-mb" type="submit"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    投稿
                </button>
            </div>
            <div id="preview-mb"></div>
        </form>
    </dialog>

</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}