{% extends 'base.html' %}

{% block body %}
<div class="page-content">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <div class="alert prf-a" role="alert">
        {{ msg | safe}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="profileBox">
        <div class="itemBox">
            <table>
                <td>
                    <img class="userIcons" src="https://1.gravatar.com/avatar/{{ md5 }}?s=4000">
                </td>
                <td>
                    <h2>{{ username }}</h2>
                    <h6>{{ user.userdetail | replace('\n', '<br>') | safe }}</h6>
                </td>
            </table>

            {% if username == current_user.username %}
            <table>
                <td>
                    <a href="/edit_profile/{{ current_user.username }}">
                        <span class="material-symbols-rounded">edit_square</span>
                    </a>
                </td>
            </table>
            {% else %}

            {% endif %}
        </div>

        <div class="itemBox boxas">
            <p style="font-size:17px;letter-spacing:1.5px;">つぶやき</p>
            <br>
            <div class="flex-prof">
                <p style="font-size:20px;letter-spacing:1.5px;font-weight:bold;">💬</p>
                <p style="font-size:20px;letter-spacing:1.5px;word-break:break-all;">{{ count }} 件</p>
            </div>
        </div>

    </div>
    {% for post in post %}
    <div class="tweet-item tweet-items shadow">
        <table>
            <td>
                <img class="user-icon" src="https://1.gravatar.com/avatar/{{ md5 }}?s=4000">
            </td>
            <td class="td">
                <p class="user-name">{{ post.postUser }}</p>
                <p>{{ post.postTweet | replace('__newLine__', '<br>') | safe}}</p>
                {% if post.imgUrl != None %}
                <img class="tweet-item-img" src="https://object.gamma410.win/teal/picture/{{post.imgUrl}}">
                {% endif %}
                <div class="postData">
                    <p class="user-time">{{ post.timeH }}:{{ post.timeM }}・{{ post.dateY }}年{{ post.dateM }}月{{
                        post.dateD }}日</p>
                </div>
                {% if username == current_user.username %}
                <small><a style="color:#ea8d8d;" href="/del/{{ post.postUser }}/{{ post.id }}">つぶやきを削除</a></small>
            {% endif %}
            </td>
        </table>
    </div>
    {% endfor %}
</div>
<style>
    .tweet-items {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
    }
</style>
{% endblock %}