{% extends 'base.html' %}

{% block body %}
<div class="page-content">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <div class="alert prf-a" role="alert">
        {{ msg | safe}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="profileBox">
        <div class="itemBox">
            <table>
                <td>
                    <img class="userIcons" src="https://object.gamma410.win/teal/users/{{ username }}.jpg">
                </td>
                <td>
                    <h2>{{ username }}</h2>
                    <h6>{{ user.userdetail | replace('\n', '<br>') | safe }}</h6>
                </td>
            </table>

            {% if username == current_user.username %}
            <table>
                <td>
                    <a href="/home/profile/edit_profile/{{ current_user.username }}">
                        <span class="material-symbols-rounded">edit_square</span>
                    </a>
                </td>
            </table>
            {% else %}
            {% if username in followNow.followUser %}
            <p>フォロー済み</p>
            {% else %}
            <a href="/follow/add/{{ username }}">
                <p>フォローする</p>
            </a>
            {% endif %}

            {% endif %}
        </div>
        {% if username == current_user.username %}
        <div class="itemBox boxas">
            <p style="font-size:17px;letter-spacing:1.5px;">STATUS</p>
            <br>
            <div class="flex-prof">
                <p style="font-size:10px;letter-spacing:1.5px;font-weight:bold;">投稿</p>
                <p style="font-size:10px;letter-spacing:1.5px;word-break:break-all;">{{ count }} 件</p>
            </div>
            <a href="/follow/list/{{ current_user.username }}">
                <div class="flex-prof">
                    <p style="font-size:10px;letter-spacing:1.5px;font-weight:bold;">フォロー</p>
                    <p style="font-size:10px;letter-spacing:1.5px;word-break:break-all;">{{ follow }} 人</p>
                </div>
            </a>
            <a href="/follower/list/{{ current_user.username }}">
                <div class="flex-prof">
                    <p style="font-size:10px;letter-spacing:1.5px;font-weight:bold;">フォロワー</p>
                    <p style="font-size:10px;letter-spacing:1.5px;word-break:break-all;">{{ follower }} 人</p>
                </div>
            </a>
        </div>
        {% else %}
        <div class="itemBox boxas">
            <p style="font-size:17px;letter-spacing:1.5px;">STATUS</p>
            <br>
            <div class="flex-prof">
                <p style="font-size:10px;letter-spacing:1.5px;">投稿</p>
                <p style="font-size:10px;letter-spacing:1.5px;word-break:break-all;">{{ count }} 件</p>
            </div>
            <div class="flex-prof">
                <p style="font-size:10px;letter-spacing:1.5px;">フォロー</p>
                <p style="font-size:10px;letter-spacing:1.5px;word-break:break-all;">{{ follow }} 人</p>
            </div>
            <div class="flex-prof">
                <p style="font-size:10px;letter-spacing:1.5px;">フォロワー</p>
                <p style="font-size:10px;letter-spacing:1.5px;word-break:break-all;">{{ follower }} 人</p>
            </div>
        </div>
        {% endif %}
    </div>
    {% for post in post %}
    <div class="tweet-item tweet-items shadow">
        <table>
            <td>
                <img class="user-icon" src="https://object.gamma410.win/teal/users/{{post.postUser}}.jpg">
            </td>
            <td class="td">
                <p class="user-name">{{ post.postUser }}</p>
                <p>{{ post.postTweet | replace('__newLine__', '<br>') | safe}}</p>
                {% if post.imgUrl != None %}
                <img class="tweet-item-img" src="https://object.gamma410.win/teal/picture/{{post.imgUrl}}">
                {% endif %}
                <div class="postData">
                    <p class="user-time">{{ post.timeH }}:{{ post.timeM }}・{{ post.dateY }}年{{ post.dateM }}月{{
                        post.dateD }}日</p>
                </div>
            </td>
        </table>
    </div>
    {% endfor %}
</div>
<style>
    .tweet-items {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
    }
</style>
{% endblock %}