{% extends 'base.html' %}

{% block body %}
<div id="loading"></div>
<div class="page-content">
    <div class="tweet-item toolskit shadow">
        <table>
            <td>
                <a href="/{{ post.postUser }}">
                    <img class="user-icon" src="https://1.gravatar.com/avatar/{{ md5 }}?s=4000">
                </a>
            </td>
            <td class="td">
                <div class="postData">
                    <p class="user-name">{{ post.postUser }}</p>
                </div>
                <p class="tweet-rp">{{ post.postTweet | replace('__newLine__', '<br>') | safe }}</p>
                
                <div class="postData">
                    <p class="user-id">@{{ post.postUser }}.teal</p>
                    <p class="user-time">{{ post.timeH }}:{{ post.timeM }}・{{ post.dateY }}年{{ post.dateM }}月{{ post.dateD }}日</p>
                </div>
            </td>
        </table>
        {% if post.replyTweet != None %}
        <a
            href="/{{ post.replyUser }}/{{ post.replyTweetHex }}">
            <div class="replyTweet">
                <table>
                    <td>
                        <a href="/{{ post.replyUser }}">
                            <img class="user-icon"
                                src="https://1.gravatar.com/avatar/{{ replyTweetUserMd5 }}?s=4000">
                        </a>
                    </td>
                    <td class="td">
                        <div class="postData">
                            <p class="user-name">{{ post.replyUser }}</p>
                        </div>
                        <p>{{ post.replyTweet | replace('__newLine__', '<br>') | safe}}</p>
                    </td>
                </table>
            </div>
        </a>
        {% endif %}
    </div>
    <div class="tweet-item tools shadow">
        <form id="Box" action="/{{ post.postUser }}/{{ post.postTweetHex }}"
            method="POST" enctype="multipart/form-data">
            <p id="textCount"></p>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea name="postTweet" class="mdl-textfield__input" rows="3" type="text"
                    onkeyup="ShowLength(value)"></textarea>
                <label class="mdl-textfield__label" for="sample5">おへんじする</label>
            </div>
            <div class="btn-cover">
                <button onclick="onButton()" id="tweetPush" type="submit"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    おくる
                </button>
            </div>
        </form>
    </div>

    {% for reply, replyUserName in l %}
    <div class="tweet-item tweet-items shadow">
        <table>
            <td>
                <a href="/{{ reply.postUser }}">
                    <img class="user-icon" src="https://1.gravatar.com/avatar/{{ replyUserName }}?s=4000">
                </a>
            </td>
            <td class="td">
                <div class="postData">
                    <p class="user-name">{{ reply.postUser }}</p>
                    <p>{{ reply.timeH }}:{{ reply.timeM }}</p>
                </div>
                <p>{{ reply.postTweet | replace('__newLine__', '<br>') | safe}}</p>
            </td>
        </table>
    </div>
    {% endfor %}
</div>
<style>
    .tweet-items {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}