{% extends 'base.html' %}

{% block body %}
<div class="about-container">
    <div class="about-item">
        <h4><span>ログイン</span></h4>

        <form method="POST" enctype="multipart/form-data">
            <div class="mdl-textfield mdl-js-textfield">
                <input name="useremail" class="mdl-textfield__input" type="email" id="sample1">
                <label class="mdl-textfield__label" for="sample1">メールアドレス</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="password" class="mdl-textfield__input" type="password" id="sample1">
                <label class="mdl-textfield__label" for="sample1">パスワード</label>
            </div>
            <button type="submit" href="/signup" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                ログイン
            </button>
        </form>
        <br>
        <a href="/signup">アカウント作成はこちらから</a>
    </div>
    <a class="links" target="_blank" href="https://icons8.com/icon/7kniG694XSWX/partying-face">icon by Icons8</a>
</div>
{% endblock %}